/local/bin/
/local/man/
/local/lib/
/local/cache/modules/02packages.details.txt.gz
/perl-5.*
*.swp
/dwimperl-*
/src/DWIM/MYMETA.*
/src/DWIM/MYMETA.yml
/src/DWIM/Makefile
/src/DWIM/blib/
/src/DWIM/pm_to_blib
/.vagrant/
